<mat-card>
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input
          matInput
          name="email"
          type="email"
          placeholder="E-mail"
          ngModel
          #emailInput="ngModel"
          required
          email
          >
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="password"
          type="password"
          placeholder="Password"
          ngModel
          #passwordInput="ngModel"
          required
          >
          <mat-error *ngIf="">Please enter valid password</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit" *ngIf="!isLoading">Signup</button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </mat-card>
  <hr>
  